body {
  font-size: 100%;
}

h1 {
  text-align: center;
}

li {
  margin-top: 8px;
}

li button {
  
}

.input-area {
  text-align: center;
}

.input-button {
  margin-left: 5px;
}

.list-row {
  align-items: center;
}

.list-button {
  margin: 3px 3px;
}

.incomplete-area, .complete-area {
  width: 500px;
  max-height: 300px;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: 20px;
}

.incomplete-area {
  background-color: rgba(0, 100, 0, 0.2) ;

}

.complete-area {
  background-color: rgba(100, 0, 0, 0.2) ;
}